In [38]:
import numpy as np
import pandas as pd
from numpy.random import randn

# Series

In [9]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':100}

In [10]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [22]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [31]:
ser1 = pd.Series([1, 2, 3, 4], index=['USA', 'CHINA', 'FRANCE', 'GERMANY'])
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [35]:
ser2 = pd.Series([1, 2, 5, 4], index=['USA', 'CHINA', 'JAPAN', 'GERMANY'])
ser2

USA        1
CHINA      2
JAPAN      5
GERMANY    4
dtype: int64

In [36]:
ser1['USA']

1

In [37]:
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    8.0
JAPAN      NaN
USA        2.0
dtype: float64

# Dataframes

In [80]:
np.random.seed(101)

In [81]:
df = pd.DataFrame(data=randn(5, 4), index=['A', 'B', 'C', 'D', 'E'], 
                  columns=['W', 'X', 'Y', 'Z'])

In [82]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [83]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [84]:
type(df['W'])

pandas.core.series.Series

In [85]:
type(df)

pandas.core.frame.DataFrame

In [86]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [87]:
# df['new']
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [88]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### not in place

In [89]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [90]:
df.drop('new', axis=1, inplace=True)

In [91]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [92]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [93]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [94]:
df.shape
# axis 0 = Rows
# axis 1 = columns
# referred from shape

(5, 4)

### Selecting rows

In [95]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [96]:
# rows are series as well
type(df.loc['A'])

pandas.core.series.Series

In [97]:
# for numbeer based index
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

#### getting a data point

In [98]:
df.loc['B', 'Y']

-0.8480769834036315

In [99]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [100]:
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077